
<div class="row">
{% for post in posts %}
    <div class="col s12 m6 l4 offset-l1">
        <div class="card">
            <div><h2 class="card-title black-text center">{{ post.titulo|title }}</h2></div>
            <div class="card-image">
                <img src="{{ post.imagen.url }}">
                
            </div>
            <div class="card-content">
                <p>{{ post.contenido }}</p>
            </div>
                <div class="card-action">
                <a href="{% url 'post' post.id %}">Ir al Post</a>
            </div>
        </div>
    </div>
{% endfor %}
</div>      